<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>

<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Email Address </label><br>
    <input name="email" type="text" placeholder="Enter Email"><br>
    <label>Password </label><br>
    <input name="password" type="text" placeholder="Password"><br>
    <button type="submit" class="btn btn-primary">Login</button><br><br>
  </form>

</body>

</html>